body{
    background-color: white;
    
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;

}

.container{
    background-color: rgba(114, 230, 201, 0.87);
    border-radius: 5px;
    width: 400px;

}
.header{
    padding: 4rem;
}

h2{
    text-align: center;
    font-family: fantasy;

}
ul{
    list-style-type: none;
    padding: auto;

}

ul il{
    font-size: 1.2rem;
    margin: 2rem;
}
button{
    background-color: brown;
   margin:5px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}